<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showcategory')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All categories
		</a>
	</div>
	<div class="col-md-6 text-right">
			{% if username %}
				
			{{ username }} || 
			<a href="{{url_for('gdisconnect')}}">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					Logout
				</a>
				{% else %}
				<a href="{{url_for('showLogin')}}">
					  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
					  Login
				  </a>
			  {% endif %}
			 
	  

			
					<!-- <p>Login Link will go Here </p> -->
		
	</div>
</div>